<app-spacing></app-spacing>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <app-card
        cartTitle="The Struggles of Translation"
        cardHeading="The Struggles of Translation"
        cardText="What We Lose, What We Gain, How Translation Affects a Work as a Whole and How it Applies to Society"
        buttonText="View"
        [parentFunction]="onView.bind(this)">
      </app-card>
    </div>
  </div>
</div>