<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">ALL KINDS OF</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <app-link text="STUFF" [parentFunction]="routeToView.bind(this, '/')"></app-link>
        <app-link text="WRITING" [parentFunction]="routeToView.bind(this, '/writing')"></app-link>
        <app-link text="LAW" [parentFunction]="routeToView.bind(this, '/law')"></app-link>
        <app-link text="DATA" [parentFunction]="routeToView.bind(this, '/data')"></app-link>
        <app-link text="IMAGES" [parentFunction]="routeToView.bind(this, '/images')"></app-link>
      </div>
    </div>
  </div>
</nav>

