<body class="d-flex flex-column h-100 bg-dark">

  <div class="video-container">
    <video autoplay muted loop playsinline id="bg-video" poster="../../../assets/Mo.jpeg">
      <source src="../../../assets/Galveston20160628.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

    <div class="content-overlay d-flex align-items-center justify-content-center">
      <div class="text-center text-white">
        <h1 class="display-3 fw-bold">MixOne Media</h1>
        <p class="lead">Seamlessly integrated with all kinds of stuff</p>
        <button class="btn btn-outline-light btn-lg mt-3">Get Started</button>
      </div>
    </div>
  </div>
  <footer class="text-center text-white">
      <p>For information <a href="https://linkedin.com/in/andre-mauldin" target="_blank">LinkedIn</a></p>
      <p>© 2024 MixOne Media</p>
    </footer>
</body>
