<div class="container">
  <!-- <p>This is an example of how to perform mathematical operations on dates.  The most important part is to convert the date to milliseconds. </p>
  <p>new Date(d)?.setDate(new Date(d)?.getDate()) where d is the date in 'yyyy-mm-dd' format</p>
  <p>Once converted to milliseconds, you can perform mathematical operations and convert the result back to years, months, days, hours, or whatever is needed.</p>
  <p>Here we want to know how many days in the past a specific day is in relation to today.  Using the code above set d to the current date and store in a variable named currentDate</p>
  <p>currentDate = new Date(d)?.setDate(new Date(d)?.getDate())</p>
  <p>Do the same for a previous date</p>
  <p>previousDate = new Date(d)?.setDate(new Date(d)?.getDate()) where d is a date in the past</p>
  <p>(currentDate - previousDate)/(24*60*60*1000) Convert from milliseconds to days to get the number of days in the past</p> -->
  <div class="mb-3">
    <ng-container *ngIf="dateResults">
      <div class="row">
        <h1>{{dateResults ? dateResults : ''}}</h1>
      </div>
    </ng-container>
  </div>
  <form [formGroup]="dateForm" (ngSubmit)="processDate()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">CURRENT DATE</label>
      <input type="date" class="form-control" formControlName="currentDate" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">PREVIOUS DATE</label>
      <input type="date" class="form-control" formControlName="previousDate" id="exampleInputPassword1">
    </div>
    <!-- <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">DAYS</label>
      <input type="text" class="form-control" formControlName="days" id="exampleInputPassword1">
    </div> -->
    <button type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
</div>
<div>
  <app-spacing></app-spacing>
  <hr>
  <app-spacing></app-spacing>
</div>
