<div class="container">
  <div class="mb-3">
    <ng-container *ngIf="dateResults">
      <div class="row">
        {{dateResults ? dateResults : ''}}
      </div>
    </ng-container>
  </div>
  <form [formGroup]="dateForm" (ngSubmit)="processDate()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">CURRENT DATE</label>
      <input type="date" class="form-control" formControlName="currentDate" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">PREVIOUS DATE</label>
      <input type="date" class="form-control" formControlName="previousDate" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">DAYS</label>
      <input type="text" class="form-control" formControlName="days" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
</div>
<div>
  <app-spacing></app-spacing>
  <hr>
  <app-spacing></app-spacing>
</div>
<div class="container">
  <ng-container *ngIf="getDetailsResults?.prediction">
    <div class="row">
      <h3>The price should be set at {{getDetailsResults?.prediction}}</h3>
    </div>
    <div class="row">
      <h4>Holding all other features fixed, a 1 unit increase in Avg. Area Income is associated with an increase of {{coefs?.['Avg. Area Income']}}</h4>
    </div>
    <div class="row">
      <h4>Holding all other features fixed, a 1 unit increase in Avg. Area House Age is associated with an increase of {{coefs?.['Avg. Area House Age']}}</h4>
    </div>
    <div class="row">
      <h4>Holding all other features fixed, a 1 unit increase in Avg. Area Number of Rooms is associated with an increase of {{coefs?.['Avg. Area Number of Rooms']}}</h4>
    </div>  
    <div class="row">
      <h4>Holding all other features fixed, a 1 unit increase in Avg. Area Number of Bedrooms is associated with an increase of {{coefs?.['Avg. Area Number of Bedrooms']}}</h4>
    </div>
    <div class="row">
      <h4>Holding all other features fixed, a 1 unit increase in Area Population is associated with an increase of {{coefs?.['Area Population']}}</h4>
    </div>
  </ng-container>
  <form [formGroup]="housingDataForm" (ngSubmit)="callGetDetails()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">AVG AREA INCOME</label>
      <input type="text" class="form-control" formControlName="AvgAreaIncome" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">AVG AREA HOUSE AGE</label>
      <input type="text" class="form-control" formControlName="AvgAreaHouseAge" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">AVG AREA NUMBER OF ROOMS</label>
      <input type="text" class="form-control" formControlName="AvgAreaNumberOfRooms" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">AVG AREA NUMBER OF BEDROOMS</label>
      <input type="text" class="form-control" formControlName="AvgAreaNumberOfBedrooms" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">AREA POPULATION</label>
      <input type="text" class="form-control" formControlName="AreaPopulation" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
</div>

<!-- 'Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population' -->